Options -Indexes

<FilesMatch "\.(db|sqlite|sqlite3|json)$">
    Require all denied
</FilesMatch>

# Denegar acceso a archivos de configuración
<FilesMatch "\.(htaccess|htpasswd|md|py|sh)$">
    Require all denied
</FilesMatch>
